# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env / secrets
.env
.env.*
*.env

# Virtual environments
venv/
.venv/

# OS / editor
.DS_Store
.vscode/

# Data (keep folder structure only)
data/*
!data/.gitkeep
!data/**/.gitkeep

# Logs
*.log
